* {
  padding: 0;
  margin: 0;
  font-family: "Zen Tokyo Zoo", sans-serif;
  box-sizing: border-box;
}

body {
    background: radial-gradient(#96595f, #e4d4d5);
    display: grid;
    place-items: center;
    height: 100vh;
  }
   
   /*------Game layout*/

  #gameContainer {
    width: 900px;
    height: 400px;
    border: 2px solid black;
    margin: auto;
    background-image: url("../images/japan.png");
    background-size: cover;

  }
  
  /*-----Game Characters and Animations*/
#gameContainer #ninja {
  height: 70px;
  width: 70px;
  position: relative;
  top: 240px;
  left: 20px;
}

.ninjaActive {
  animation: animateNinja 0.5s linear infinite;
}

@keyframes animateNinja {
  0%, 100%
  {
    bottom: 240px;
  }
  45%, 55% {
    top: 80px;
  }
}

#gameContainer #sumo {
  height: 70px;
  width: 70px;
  position: relative;
  top: 200px;
  left: 780px;
}

#gameContainer #sumo img {
  height: 100px;
  width: 90px;
  
}

.sumoActive {
  animation: sumoAninamte 1s linear infinite;
}

  @keyframes sumoAninamte {
    0%
    {
      left: 90%;
    }
    100% {
      left: 20px;
    }
  }  
 
  /*------Score and game info*/

  #score {
    height: auto;
    width: auto;
    position: relative;
    bottom: 220px;
    left: 700px;
    font-size: 4rem;
    color: #7c2f37;
  }

  #gameOver {
    font-size: 5rem;
    display: none;
    position: absolute;
    left: calc(50% - 181px);
    top: calc(50% - 40px);
  }


  